<div class="jumbotron text-center">
  <div class="container">
    <img src="<%= asset_path('logo.png') %>">
    <h1>VTA</h1>
      <p>Victor Travel Aid</p>
        <a type="button" class="btn btn-lg btn-primary" <%= link_to 'Locatons', index_path %></a>
   </div>
</div>
   

